<?xml version="1.0" encoding="UTF-8"?>
<!--api网关系统的logback日志配置文件-->
<!--
    该api网关系统的日志分为三种类型：应用日志，访问日志和gc日志
    应用日志：记录api网关应用在运行时的一些系统信息。日志输出位置分布于系统的各个模块，类中。
    访问日志：记录所有进入api网关的请求信息。日志输出位置在核心模块中的路由过滤器中。
    gc日志：记录jvm的垃圾回收信息，用于后续的性能调优。通过设置jvm的相关启动参数实现。
-->
<configuration>
    <!--定义日志文件的存储地址-->
    <property name="LOG_HOME" value="logs" />

    <!--控制台输出-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%X{traceId}] [%20.20thread] %40.40logger{1.} : %m%n</pattern>
        </encoder>
    </appender>

    <!--应用日志的文件输出-->
    <appender name="CORELOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/gateway-core.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/gateway-core-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%X{traceId}] [%20.20thread] %40.40logger{1.} : %m%n</pattern>
        </encoder>
    </appender>

    <!--访问日志的文件输出-->
    <appender name="ACCESSLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/access-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>20</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n</pattern>
        </encoder>
    </appender>

    <!--配置日志记录器-->
    <logger name="org.wyh.core.*" level="info">
        <appender-ref ref="CORELOG"/>
    </logger>

    <logger name="accessLog" level="info">
        <appender-ref ref="ACCESSLOG"/>
    </logger>

    <!--配置根记录器-->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="CORELOG"/>
        <appender-ref ref="ACCESSLOG"/>
    </root>
</configuration>
